* {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 970px;
  margin: 0px auto;
  background-color: gray;
  color: yellow;
}

h1, h2, h4 {
  margin: 5px;
  text-align: center;
}

img {
  display: block;
}


