<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Ninja: {{ color }}</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='CSS/style.css') }}">
  </head>
  <body>
    <div id="container">
      {% if color %}
          <a href="/"><img src='/static/Images/{{color}}.png' alt='Ninja'></a>
      {% else %}
        <img src="{{ url_for('static', filename='Images/groupninja.png') }}"
        alt="group">
        <div id='blue' class="color">
          <a href="/ninja/blue"><h2>Click Me!</h2></a>
        </div>
        <div id='orange' class="color">
          <a href="/ninja/orange"><h2>Click Me!</h2></a>
        </div>
        <div id='red' class="color">
          <a href="/ninja/red"><h2>Click Me!</h2></a>
        </div>
        <div id='purple' class="color">
          <a href="/ninja/purple"><h2>Click Me!</h2></a>
        </div>
      {% endif %}
    </div>
  </body>
</html>
